body{margin:0; padding:0;}
div,ul,li,tr,td,table,a,span{margin:0; padding:0;}
img{border:none;}

.wrapper{width:100%;}
.no-padding{padding:0 !important;}
#mainNav {background: #0054a5; background-image: none !important;}
.header-logo-1{width: 118px;}
.nav.navbar-nav.navbar-right li a {color: #fff;}
.navbar-toggle{background:#ddd !important;}

.theme-default .nivo-controlNav{display:none;}
.why-choose-us{width:100%; background:#f5f5f5; padding:6px 0 29px 0;}
.why-choose-us h1{font-size:30px; color:#3c679a; text-align:center; text-transform:uppercase;}
.underline-1{width:100px; margin: 0 auto;}
.underline-1 img {width: 100%;}
.why-choose-us-block-1{margin-top: 44px;}
.block-1-part-1{text-align:center;}
.block-1-part-1 p{font-size:13px; color:#9f9e9c; margin-top:10px;}
.block-1-part-1 {padding: 24px 0 24px 0;}
.block-1-part-2{background:#ffffff; border:1px solid #e5ecf2; padding: 24px 0 24px 0;}

.what-people-say{width:100%; background:#0054a5; padding:20px 0 35px 0;}
.what-people-say h2{font-size:30px; color:#ffffff; text-align:center; text-transform:uppercase;}
.underline-2{width:100px; margin: 0 auto;}
.underline-2 img {width: 100%;}
.what-people-say-block-1{margin-top:28px;}
.what-people-say-block-1 h3{font-size:24px; color:#51b3f2; margin:5px 0 0 0; text-transform:uppercase;}
.what-people-say-block-1 span{font-size:13px; color:#90bedf; text-transform:uppercase;}
.what-people-say-block-1 p{font-size:12px; color:#ffffff; margin-top:20px;}
.rating-stars{}
.rating-stars ul{list-style:none;}
.rating-stars ul li{display:inline-block;}
.img-responsive.what-people-say-image-1 {margin-top: 7px;}
.border-left-1{border-left:1px solid #5e9ad0;}

.getting-started{width:100%; background:url(../images/getting-started-banner.jpg) no-repeat; padding:0 0 38px 0; background-size:cover;}
.getting-started h4{font-size:19px; color:#c1c6cc; text-transform:uppercase; text-align:center; margin-top:52px;}
.getting-started-button{width:160px; height:32px; background:#0054a5; margin:22px auto;}
.getting-started-button p{font-size:11px; color:#a6d6fc; text-align:center; text-transform:uppercase; padding: 9px 0 0 0;}

.your-brand-your-way{width:100%; padding:0 0 20px 0;}
.your-brand-your-way h5{font-size:21px; color:#303030; font-weight:bold; margin-top: 38px;}
.your-brand-your-way p{font-size:13px; color:#737373;}
.your-brand-your-way-computer {width: 89%; float: right; margin: 36px 0 0 0;}

.company-lists{width:100%; padding:0 0 10px 0; background:#f0f5f9;}
.company-lists h5{font-size:14px; color:#272e48; font-weight:bold; text-align:center; padding: 24px 0 0 0;}
.company-lists-2{text-align: center; margin-top:10px;}
.company-lists-2 ul{list-style:none;}
.company-lists-2 ul li{display:inline-block; padding:0 18px;}

.footer-1{width:100%; background:#2a2d34;}
.footer-1 h5{font-size:15px; color:#696c73; margin: 25px 0 0 0;}
.footer-1-menu{margin: 12px 0 0 0;}
.footer-1-menu ul{list-style:none;}
.footer-1-menu ul li{padding:0 0 8px 0;}
.footer-1-menu ul li a{font-size:13px; color:#b3b6bd;}
.footer-1-menu ul li a:hover{text-decoration:none;}
.footer-social-icons{margin-top:8px;}
.footer-social-icons ul{}
.footer-social-icons ul li{display: inline-block; padding: 0 31px 8px 0;}
.footer-social-icons ul li a{}
.footer-social-icons ul li img {width: 32px;}
.footer-1-bottom-1{border-bottom:1px solid #72757c;}

.footer-2{width:100%; background:#2a2d34; padding: 8px 0 2px 0;}
.footer-2 p{font-size:13px; color:#c5c9cc; text-align:center;}



/**Start How It Works**/
.how-it-works{width: 100%; background: url(../images/how-it-works-banner.jpg) no-repeat; background-size: 100% 100%; padding: 0px 0 228px 0;
 margin: 50px 0 0 0;}
.how-it-works h1{font-size:18px; color:#ffffff; text-align:center; text-transform:uppercase; padding: 44px 0 0 0;}
.how-it-works h2{font-size:38px; color:#ffffff; text-align:center; text-transform:uppercase;}
.check-this-out{width:100%; padding:46px 0 32px 0;}
.check-this-out-left img {width: 100%;}
.check-this-out-right{}
.check-this-out-right h3{font-size:26px; color:#2b2b2b; margin:0; font-weight:bold;}
.check-this-out-right p{font-size:13px; color:#6e6e6e; margin-top:32px;}
.how-it-works-2{width:100%; background:#ececec; padding:0 0 35px 0;}
.how-it-works-2 h3{font-size:26px; color:#2b2b2b; font-weight:bold;}
.how-it-works-2 p{font-size:13px; color:#6e6e6e; margin-top:32px;}
.contact-us-now-1{width:146px; height:32px; background:#0054a5; margin-top: 16px;}
.contact-us-now-1 p{font-size:13px; color:#ffffff; text-align:center; padding: 6px 0 0 0;}
/**End How It Works**/


/**Start Our Products**/
.our-products{width:100%;}
.our-products h1 {font-size: 30px; color: #3c679a; text-align: center; text-transform: uppercase;}
.products_caption{width:100%; margin: 10px 0 10px 0;}
.products_caption img {width: 100%;}
.products_caption p{font-size: 18px; color: #3c679a; text-transform: uppercase; margin-top: 10px;}
.products_caption article{font-size: 14px; color: #000000; margin-top: 10px;}
.our-products-button {margin-top: 10px;}
/**End Our Products**/


/**Start Contact Us**/
.contact-us{width: 100%; background: url(../images/contact-us-banner.jpg) no-repeat; background-size: 100% 100%; padding: 0px 0 228px 0;
 margin: 50px 0 0 0;}
.contact-us h1{font-size:18px; color:#000000; text-align:center; text-transform:uppercase; padding: 44px 0 0 0;}
.contact-us h2{font-size:38px; color:#000000; text-align:center; text-transform:uppercase;}

.contact-us-banner{}
.contact-us-banner h2{font-size:24px; color:#000000; text-align:center; text-transform:uppercase;}
.contact-us-banner p{font-size:14px; color:#000000; text-align:center;}
.contact-us-banner-part-2{width:100%;}
/**End Contact Us**/


.your-brand-your-way table {margin: 0 auto;}
 input[type="image"] {margin: 20px 0 0 0; position: relative; left: -36px;}
 
 
 
 #map {width: 100%; height: 600px;}